black==24.2.0
build==1.0.3
CacheControl==0.14.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
contourpy==1.2.0
crashtest==0.4.1
cryptography==42.0.5
cycler==0.12.1
distlib==0.3.8
dulwich==0.21.7
fastjsonschema==2.19.1
filelock==3.13.1
flake8==7.0.0
fonttools==4.49.0
idna==3.6
importlib-metadata==7.0.1
installer==0.7.0
jaraco.classes==3.3.1
jeepney==0.8.0
joblib==1.3.2
kaleido==0.2.1
keyring==24.3.0
kiwisolver==1.4.5
matplotlib==3.8.3
mccabe==0.7.0
-e git+https://github.com/totkin/MLBasic202308.git@d9b853eb81decd7fdc2211566373cf2d83ecb1cf#egg=mlbasic202308
more-itertools==10.2.0
msgpack==1.0.7
mypy-extensions==1.0.0
numpy==1.26.4
packaging==23.2
pandas==2.2.1
pathspec==0.12.1
pexpect==4.9.0
pillow==10.2.0
pkginfo==1.9.6
platformdirs==4.2.0
plotly==5.19.0
poetry==1.8.0
poetry-core==1.9.0
poetry-plugin-export==1.6.0
ptyprocess==0.7.0
pyarrow==15.0.0
pycodestyle==2.11.1
pycparser==2.21
pyflakes==3.2.0
pyparsing==3.1.1
pyproject_hooks==1.0.0
python-dateutil==2.8.2
pytz==2024.1
rapidfuzz==3.6.1
requests==2.31.0
requests-toolbelt==1.0.0
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
SecretStorage==3.3.3
shellingham==1.5.4
six==1.16.0
tenacity==8.2.3
threadpoolctl==3.3.0
tomli==2.0.1
tomlkit==0.12.3
trove-classifiers==2024.2.23
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.25.1
zipp==3.17.0
